body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  background-image: url();
  background-size: cover;
  background-position: center;
}

.centered-content {
  text-align: center;
  color: black;
}

.logo {
  background: red;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
}